body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #e6e6e6;
}
header {
  background-color: rgb(60, 71, 122);
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.header-left {
  font-size: 1.5em;
  font-weight: bold;
}
.header-right a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
#contenido {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
#formulario2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  background-color: white;
  border: 5px solid #384179;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
#botones2 h1 {
  color: #244862;
  font-size: 2em;
  margin-bottom: 10px;
}
form {
  width: 100%;
}
#datos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#campos > div {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.textdata {
  color: #244862;
  margin: 10px 0 5px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f6f1df;
  width: max-content;
}
::placeholder {
  color: #555;
}
#ingresar {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #244862;
  color: white;
  border: none;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}
#ingresar:hover {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1a374d;
  color: white;
  border: none;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}
#volver {
  margin: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
  background-color: #797979;
  border: none;
  cursor: pointer;
}
h5 {
  margin: 5px 0;
}
