.table-turno {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.table-turno table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table-turno th,
.table-turno td {
  padding: 12px 15px;
  text-align: left;
}

.table-turno th {
  background-color: #384179;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.table-turno tr:nth-child(even) {
  background-color: #f8f8f8;
}

.table-turno tr:hover {
  background-color: #eaeaea;
}

.table-turno i {
  color: #384179;
  cursor: pointer;
  transition: color 0.3s;
}

.table-turno i:hover {
  color: #2f3662;
}
#volver {
  width: max-content;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}
